body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

#title-key-list {
  margin-bottom: 20px;
}

.title-key-item {
  cursor: pointer;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-bottom: 4px;
}

.title-key-item.selected {
  background-color: lightblue;
}

details > summary {
  cursor: pointer;
}

github-md-view {
  text-align: start;
}

*:has(> github-md-view) {
  padding: 20px;
  border: solid #ccc 2px;
  border-radius: 2px;
  margin: 4px;
}

.question-or-suggestion-list {
  text-align: start;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.question-or-suggestion-list > li {
  margin: 8px;
}
.question-or-suggestion-list > li > input {
  margin-right: 8px;
}

textarea[cols="100%"] {
  padding: 8px;
  display: block;
  width: calc(100% - 16px);
}
